/* App.css */

/* Title Container */

.title-container{
  width:100%;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  padding: 5px;
}
h1{
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-top:10px;
  margin-bottom: 20px;
  color:#242582;
  
}

/* Content Container */
.content-container {
  padding: 20px;
}

/* Video List Container */
.video-list-container {
  margin-bottom: 50px; /* Added margin to create space for pagination */
}

/* Video List */
.video-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

/* Video Player */
.video-player {
  margin: 20px;
}

/* Pagination Container */
.pagination-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination button {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
  border-radius: 50%;
}
.pagination button.active {
  background-color:#242582;
  color: #fff;
}

.pagination button:hover {
  background-color: #000;
  color:#fff;
}

/* Media Queries for Mobile Responsive Layout */
@media (max-width: 767px) {
  .video-list {
    grid-template-columns: 1fr;
  }

  .pagination-container {
    position: static;
    background-color: transparent;
    margin-top: 20px;
    padding: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    
  }
}

@media (max-width: 425px) {
  .title-container{
    padding: 5px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    

  }

  .pagination-container {
    position: static;
    background-color: transparent;
    
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
  }

  .pagination button {
    font-size: 12px;
    padding: 5px 8px;
  }
}
