
.title-container{
  width:100%;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  padding: 5px;
}
h1{
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-top:10px;
  margin-bottom: 20px;
}

.pagination{
  display: flex;
  justify-content: center;

}

.pagination button {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
  border-radius: 50%;
}

.pagination-container{
  position: absolute;
  margin-top:20px;
  width:100%  !important;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  padding: 20px;
  
}

.pagination button.active {
  background-color: green;
  color: #fff;
}

.pagination button:hover {
  background-color: #000;
  color:#fff;
}

@media only screen and (max-width:425px){
  .pagination-container{
    position: absolute;
    margin-top:20px;
    width:1000px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    padding: 20px;
  }
  
  .pagination{
    margin-top:10px;
  }
}